@import 'colors.css';

* {
  border: none;
  font-family: 'BigBlueTerm437 Nerd Font Mono', monospace;
  font-weight: bold;
  font-size: 1rem;
}

window#waybar {
  background: transparent;
  color: @on_surface;
}

tooltip {
  background: @background;
  border: 1px solid @on_primary_container;
  border-radius: 2px;
  padding: 5px 10px;

}
tooltip label {
  color: @on_surface;
}

#workspaces button {
  color: @on_primary_container;
  padding: 0 6px;
  border: 1px solid @on_primary_container;
  background: @surface;
  margin: 0 5px;
}

#workspaces button.active {
  color: @surface;
  background: @on_primary_container;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background: @primary_fixed;
  color: black;
  transition: all 0.3s ease-in-out;
}

#clock,
#pulseaudio,
#network {
  border: 1px solid @on_primary_container;
  border-radius: 5px;
  padding: 0 15px;
  background-color: @surface;
  margin: 0 5px;
}

#clock:hover,
#pulseaudio:hover,
#network:hover {
  background-color: @primary_fixed;
  color: black;
  transition: all 0.3s ease-in-out;
}

#clock {
  padding: 0 7px;
}
